<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CliendId" value="YOURCLIENTID" />
    <add key="ClientSecret" value="YOURCLIENTSECRET" />
    <add key="CallbackUrl" value="YOURCALLBACKURL" />
    <add key="Username" value="YOURUSERNAME" />
    <add key="Password" value="YOURPASSWORD" />
    <add key="ServerKey" value ="YOURSERVERKEY" />
  </appSettings>
</configuration>