<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="CallbackUrl" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="ServerKey" value ="" />
  </appSettings>
</configuration>
